repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^charts/crds/.*\.yaml$
        stages: [pre-commit]
      - id: trailing-whitespace
        exclude: ^charts/crds/.*\.yaml$
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: detect-private-key
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -l -w .
        language: system
        types: [go]
        stages: [pre-commit]
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        pass_filenames: false
        stages: [pre-push]
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.2
    hooks:
      - id: golangci-lint
        entry: golangci-lint run
        args: [--timeout=5m]
        stages: [pre-commit]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD002]
        stages: [pre-commit]
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        stages: [pre-commit]
